<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis tools</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- 引入自訂樣式 -->
</head>

<body> 
    <h1>分析工具</h1>  

    <hr>       

    <h3 style="text-align: left; margin-left: 20px;">K線圖(Candlestick chart)</h3>
    <p style="text-align: left; margin-left: 20px;">
        一種技術分析工具，顯示股票在一定時間內的開盤價、收盤價、最高價和最低價。
    </p>
    
    <h3 style="text-align: left; margin-left: 20px;">支撐線 (Support Line)</h3>
    <p style="text-align: left; margin-left: 20px;">
        股價下跌時容易反彈的價格區域。
    </p>
    
    <h3 style="text-align: left; margin-left: 20px;">壓力線 (Resistance Line)</h3>
    <p style="text-align: left; margin-left: 20px;">
        股價上漲時容易回落的價格區域。
    </p>

    <h3 style="text-align: left; margin-left: 20px;">RSI 
        (Relative Strength Index)</h3>
    <p style="text-align: left; margin-left: 20px;">
        衡量股票的「買賣力量」和「價格變動速度」，以判斷市場是否處於超買或超賣狀態。
        RSI 的數值範圍介於 0 至 100。
    </p>

    <h3 style="text-align: left; margin-left: 20px;">MACD（Moving Average Convergence Divergence）</h3>
    <p style="text-align: left; margin-left: 20px;">
        用於判斷趨勢和買賣時機的技術指標。
    </p>

    <!-- 返回教學頁面按鈕 -->
    <a href="teach.html" class="btn">Back to Teach Page</a>
</body>
</html>
