<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teach Page</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- 引入自訂樣式 -->
</head>
<body>
    <h1>Teach Page</h1>
    <p></p>
    <a href="{{ url_for('main') }}" class="btn">Back to Main</a>
    <a href="{{ url_for('basic') }}" class="btn">Basic Concept</a>
    <a href="{{ url_for('market') }}" class="btn">Market Categeory</a>
    <a href="{{ url_for('trans_related') }}" class="btn">Transaction related</a>
    <a href="{{ url_for('risk') }}" class="btn">Risk Management</a>
    <a href="analysis_tools.html" class="btn">Analysis Tools</a>
    <a href="K_chart.html" class="btn">Candlestick Chart</a>
</body>
</html>
